* {margin: 0; border: 0; padding: 0; outline: none;}

::-moz-selection {
	color: #fa6566;
	background-color: rgb(232, 239, 249);
}
::selection {
	color: #fa6566;
	background-color: rgb(232, 239, 249);
}

::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #e0dfdb;
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Muli', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 10px;
}

.navigation-toggle {
	font-size: 3.1em;
	color: rgb(250, 101, 102);
	text-shadow: 0 0 1px rgba(250, 101, 102, 0.9);
	display: inline-block;
	position: fixed;
	top: 5px;
	left: 10px;
}
.navigation-section {
	padding: 5px 25px;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 10px;
	font-size: 1.7em;
	color: rgb(250, 101, 102);
	text-shadow: 0 0 1px rgba(250, 101, 102, 0.9);
	letter-spacing: 0.2em;
	text-transform: uppercase;
	display: inline-block;
	position: fixed;
	top: 50px;
	left: 10px;
}
	.navigation-section div {
		margin-top: 15px;
		margin-bottom: 15px;
	}

.main-section {
	margin-top: 20px;
	margin-bottom: 80px;
	margin-left: 40vw;
	width: 500px;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 10px;
	text-align: justify;
	color: rgb(9, 44, 102);
}
	.section-heading-one {
		margin-bottom: 20px;
		font-size: 3em;
		letter-spacing: 0.1em;
		text-shadow: 0 0 0.01em rgba(9, 44, 102, 0.9);
	}
	.section-heading-two {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 2em;
		letter-spacing: 0.1em;
		text-shadow: 0 0 0.01em rgba(9, 44, 102, 0.9);
	}
	.section-para {
		margin-bottom: 10px;
		font-size: 1.5em;
		letter-spacing: 0.1em;
		line-height: 1.7;
		text-shadow: 0 0 0.01em rgba(9, 44, 102, 0.9);
	}
		.linker {
			color: rgb(250, 101, 102);
			text-shadow: 0 0 0.01em rgba(250, 101, 102, 0.9);
			cursor: pointer;
		}
		.section-para img {
			margin-top: 15px;
			margin-right: 19px;
			height: 30px;
		}
	.section-hidden-div {
		padding-left: 55px;
		visibility: hidden;
		opacity: 0;
		display: none;
		-webkit-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.section-form {
		padding: 20px 0;
		width: 100%;
	}
		.section-form input, .section-form textarea, .section-form button {
			margin: 5px 0;
			padding: 10px 5%;
			width: 90%;
			font-size: 1.5em;
			letter-spacing: 0.1em;
			color: rgb(9, 44, 102);
			text-shadow: 0 0 0.01em rgba(9, 44, 102, 0.9);
			background-color: transparent;
			font-family: 'Muli', sans-serif;
			border: 1px solid rgba(2, 20, 51, 0.07);
		}
			.section-form input::-webkit-input-placeholder, .section-form textarea::-webkit-input-placeholder {
				color: rgba(2, 20, 51, 0.4);
				text-shadow: 0 0 0.02em rgba(2, 20, 51, 0.4);
			}
			.section-form input::-moz-input-placeholder, .section-form textarea::-moz-input-placeholder {
				color: rgba(2, 20, 51, 0.4);
				text-shadow: 0 0 0.02em rgba(2, 20, 51, 0.4);
			}
			.section-form input::-ms-input-placeholder, .section-form textarea::-ms-input-placeholder {
				color: rgba(2, 20, 51, 0.4);
				text-shadow: 0 0 0.02em rgba(2, 20, 51, 0.4);
			}
			.section-form input:focus, .section-form textarea:focus {
				box-shadow: 0 0 5px rgb(2, 20, 51);
			}
		.section-form button {
			width: auto;
			margin: auto;
			display: block;
			-webkit-transition: all ease 0.3s;
			-o-transition: all ease 0.3s;
			transition: all ease 0.3s;
			cursor: pointer;
		}
			.section-form button:hover {
				box-shadow: 0 0 5px rgb(2, 20, 51);
			}