* {margin: 0; padding: 0; border: 0; outline: none; text-decoration: none;}

::-moz-selection {
	color: #aaaaaa;
	background-color: #fef1f1;
}
::selection {
	color: #aaaaaa;
	background-color: #fef1f1;
}

::-webkit-scrollbar {
	display: none;
}

html, body {
	background-color: #ffffff;
	background: url(background.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000000;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 1.9;
	text-shadow: 0 0 1px #dddddd;
}

.main-container {
	margin-left: 15vw;
	padding: 25px;
	max-width: 525px;
	text-align: justify;
}
	.main-container p {
		padding-bottom: 20px;
	}
		.main-container p span.linker {
			padding: 0 2px;
			background-color: #fef1f1;
			cursor: pointer;
			-webkit-transition: all linear 0.2s;
			-o-transition: all linear 0.2s;
			transition: all linear 0.2s;
		}
			.main-container p span.linker:hover {
				padding: 4px 2px;
			}

.social-container {
	position: fixed;
	bottom: 10px;
	left: 5vw;
}
	.social-icon {
		margin-top: 2px;
		font-size: 37px;
		text-align: center;
	}
		.social-icon span {
			color: rgb(250, 101, 102);
			cursor: pointer;
		}

div.project-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	-webkit-transition: all linear 0.9s;
	-o-transition: all linear 0.9s;
	transition: all linear 0.9s;
}
	div.project-container iframe {
		width: 100%;
		height: 100%;
	}
	div.project-container-controls {
		margin: 5px;
		position: fixed;
		top: 0;
		right: 0;
	}
		div.project-container-controls div {
			margin-bottom: 10px;
			padding: 0 2px;
			font-size: 12px;
			text-align: center;
			border-radius: 3px;
			background-color: #fef1f1;
			cursor: pointer;
		}