* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	text-decoration: none;
}

::-moz-selection {
	color: #1b1b1b;
	background-color: #ffffff;
}
::selection {
	color: #1b1b1b;
	background-color: #ffffff;
}

::-webkit-scrollbar {
	display: none;
}

html, body {
	color: #333333;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

main {
	margin: auto;
	margin-top: 10px;
	width: 555px;
	font-size: 17px;
	line-height: 1.5;
	text-align: justify;
}
	main p {
		margin-bottom: 15px;
	}

.linker {
	color: #3185FC;
	cursor: pointer;
	-webkit-transition: all linear 0.15s;
	-o-transition: all linear 0.15s;
	transition: all linear 0.15s;
}
	.linker:hover {
		color: #fa6567;
	}

div.project-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	opacity: 0;
	-webkit-transition: all linear 0.9s;
	-o-transition: all linear 0.9s;
	transition: all linear 0.9s;
}
	div.project-container iframe {
		width: 100%;
		height: 100%;
	}
	div.project-container-controls {
		margin: 5px;
		position: fixed;
		top: 0;
		right: 0;
	}
		div.project-container-controls div {
			margin-bottom: 15px;
			padding: 1px 2px;
			font-size: 13px;
			text-align: center;
			color: #000000;
			background-color: #ffffff;
			box-shadow: 0 8px 10px rgba(0,0,0,0.25);
			cursor: pointer;
		}

.abc {
	margin: 0 auto;
	font-size: 20px;
	color: red;
}