* {margin: 0; border: 0; padding: 0; outline: none;}
body {
	background-color: #aaaaaa;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
#getHeightDiv {
	height: 100vh;
	position: fixed;
}

@media only screen and (min-width: 320px) {
	.outermost-container {
		margin: auto;
		width: 301px;
		height: 701px;
		position: relative;
	}
		.image-container {
			width: 15px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 100;
			transform: translate(-50%, -50%);
			box-shadow: 0 0 10px 4px #fa6566, 3px 3px 4px 0 #fa6566, -3px -3px 4px 0 #fa6566;
			display: none;
			-webkit-user-select: none; /* Chrome, Opera, Safari */
			-moz-user-select: none; /* Firefox 2+ */
			-ms-user-select: none; /* IE 10+ */
			user-select: none;
		}
			.image-container img {
				width: 100%;
				border-radius: 50%;
				display: block;
			}
		.navigation-container {
			width: 0%;
			height: 0%;
			background-color: #fa6566;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 99;
			-webkit-user-select: none; /* Chrome, Opera, Safari */
			-moz-user-select: none; /* Firefox 2+ */
			-ms-user-select: none; /* IE 10+ */
			user-select: none;
			overflow: hidden;
		}
			.navigation-container nav {
				margin: auto;
				margin-top: 100px;
				text-align: center;
				display: none;
				opacity: 0;
			}
			.navigation-container nav div {
				color: #eeeeee;
				cursor: pointer;
			}
				.navigation-container nav div:hover {
					color: #ffffff;
				}
			.navigation-icon {
				margin-bottom: 2px;
				font-size: 4em;
			}
			.navigation-label {
				margin-bottom: 25px;
				font-size: 1.4em;
				letter-spacing: 0.05em;
			}
		.content-container {
			width: 100%;
			height: 85%;
			line-height: 1.4;
			overflow: auto;
			position: absolute;
			top: 8%;
			left: 0%;
			z-index: 98;
		}
			.content-container h1 {
				margin-bottom: 10px;
				font-size: 3em;
				color: #fa6566;
			}
			.content-container p {
				margin-bottom: 10px;
				padding: 0 20px;
				font-size: 1.5em;
			}
			.content-container p a {
				text-decoration: none;
				color: #fa6566;
			}
		.footer-container {
			width: 100%;
			height: 6%;
			color: #fa6566;
			font-size: 3.5em;
			text-align: center;
			opacity: 0;
			position: absolute;
			bottom: 0;
			z-index: 97;
		}
			.footer-container div span {
				cursor: pointer;
			}
}/*min-width: 320px*/