@media only screen and (max-width: 320px) {
	.main-container {
		width: 301px;
	}
		.content-container {
			line-height: 1.4;
		}
			.content-container h1 {
				margin-left: 5px;
				font-size: 1.5em;
				text-shadow: 0 0 1px #fa6566;
			}
			.content-container h2 {
				margin-left: 5px;
				padding-top: 10px;
				font-size: 1.1em;
				text-shadow: 0 0 1px #fa6566;
			}
			.content-container p {
				padding-top: 10px;
				margin-left: 5px;
				font-size: 0.7em;
			}
				.content-container p img {
					margin: 0 20px 20px 0;
					height: 25px;
				}
				.content-container p input, .content-container p textarea {
					margin-top: 10px;
					font-size: 0.7em;
				}
				.content-container p button {
					font-size: 0.7em;
				}
}