@media only screen and (min-width: 375px) {
	.main-container {
		width: 355px;
	}
		.content-container {
			line-height: 1.4;
		}
			.content-container h1 {
				margin-left: 5px;
				font-size: 1.7em;
				text-shadow: 0 0 1px #fa6566;
			}
			.content-container h2 {
				margin-left: 5px;
				padding-top: 10px;
				font-size: 1.2em;
				text-shadow: 0 0 1px #fa6566;
			}
			.content-container p {
				padding-top: 10px;
				margin-left: 5px;
				font-size: 0.9em;
			}
				.content-container p img {
					margin: 0 25px 25px 0;
					height: 30px;
				}
				.content-container p input, .content-container p textarea {
					margin-top: 10px;
					font-size: 0.9em;
				}
				.content-container p button {
					font-size: 0.9em;
				}
}