@media only screen and (min-width: 768px) {
	.main-container {
		width: 750px;
	}
		.content-container {
			line-height: 1.4;
		}
			.content-container h1 {
				margin-left: 15px;
				font-size: 1.7em;
				text-shadow: 0 0 1px #fa6566;
			}
			.content-container h2 {
				margin-left: 15px;
				padding-top: 15px;
				font-size: 1.2em;
				text-shadow: 0 0 1px #fa6566;
			}
			.content-container p {
				padding-top: 15px;
				margin-left: 35px;
				font-size: 0.9em;
			}
				.content-container p img {
					margin: 0 20px 20px 0;
					height: 35px;
				}
				.content-container p input, .content-container p textarea {
					margin-top: 10px;
					font-size: 0.9em;
				}
				.content-container p button {
					font-size: 0.9em;
				}
}