* {
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}

body {
	background-color: #000000;
	color: #ff0000;
}

::-moz-selection {
	color: #fa6566;
	background-color: #ffffff;
}

::selection {
	color: #fa6566;
	background-color: #ffffff;
}

::-webkit-scrollbar {
	display: none;
}