* {margin: 0; border: 0; padding: 0; outline: none;}

::-moz-selection {
	color: #fa6566;
	background-color: rgb(232, 239, 249);
}
::selection {
	color: #fa6566;
	background-color: rgb(232, 239, 249);
}

::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #e0dfdb;
	background: url(../ASSETS/IMAGES/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Comfortaa', cursive;
}

.main-section, .footer-section {
	margin-top: 2vh;
	margin-bottom: 8vh;
	margin-left: 35vw;
	width: 563px;
	padding: 3vw;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 15px;
	color: rgb(2, 20, 51);
}
	.section-heading-one {
		margin-bottom: 20px;
		font-size: 30px;
		letter-spacing: 2px;
		text-shadow: 0 0 0.01em rgba(2, 20, 51, 0.8);
	}
	.section-heading-two {
		margin-bottom: 20px;
		font-size: 20px;
		letter-spacing: 2px;
		text-shadow: 0 0 0.01em rgba(2, 20, 51, 0.8);
	}
	.section-para {
		margin-bottom: 15px;
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 1.7;
		text-shadow: 0 0 0.01em rgba(2, 20, 51, 0.8);
	}
		.linker {
			color: rgb(28, 34, 206);
			cursor: pointer;
		}
		.section-para img {
			margin-top: 15px;
			margin-right: 25px;
			height: 30px;
		}
	.section-hidden-div {
		padding-left: 5vw;
		visibility: hidden;
		opacity: 0;
		display: none;
		-webkit-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.section-form {
		padding: 20px 0;
		width: 100%;
	}
		.section-form input, .section-form textarea, .section-form button {
			margin: 5px 0;
			padding: 10px 5%;
			width: 90%;
			font-size: 15px;
			letter-spacing: 1px;
			color: rgb(2, 20, 51);
			text-shadow: 0 0 0.02em rgba(2, 20, 51, 0.8);
			background-color: transparent;
			font-family: 'Comfortaa', cursive;
			border: 1px solid rgba(2, 20, 51, 0.07);
		}
			.section-form input::-webkit-input-placeholder, .section-form textarea::-webkit-input-placeholder {
				color: rgba(2, 20, 51, 0.4);
				text-shadow: 0 0 0.02em rgba(2, 20, 51, 0.4);
			}
			.section-form input::-moz-input-placeholder, .section-form textarea::-moz-input-placeholder {
				color: rgba(2, 20, 51, 0.4);
				text-shadow: 0 0 0.02em rgba(2, 20, 51, 0.4);
			}
			.section-form input::-ms-input-placeholder, .section-form textarea::-ms-input-placeholder {
				color: rgba(2, 20, 51, 0.4);
				text-shadow: 0 0 0.02em rgba(2, 20, 51, 0.4);
			}
			.section-form input:focus, .section-form textarea:focus {
				box-shadow: 0 0 5px rgb(2, 20, 51);
			}
		.section-form button {
			width: auto;
			margin: auto;
			display: block;
			-webkit-transition: all ease 0.3s;
			-o-transition: all ease 0.3s;
			transition: all ease 0.3s;
			cursor: pointer;
		}
			.section-form button:hover {
				box-shadow: 0 0 5px rgb(2, 20, 51);
			}
.footer-section {
	background-color: transparent;
	position: relative;
}
	.image-section {
		width: 100px;
		border-radius: 15px;
		background-color: rgb(159, 159, 157);
		box-shadow: 0 0 7px 3px rgb(159, 159, 157);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotateZ(-30deg);
	}
		.image-section img {
			width: 100%;
			border-radius: 15px;
			display: block;
		}
	.icon-section {
		width: 55%;
		position: absolute;
		bottom: 0;
		right: 1%;
	}
		.footer-icon {
			margin-left: 10px;
			font-size: 30px;
			text-shadow: 0 0 1px rgba(250, 101, 102, 0.9);
			color: rgb(250, 101, 102);
			float: right;
			cursor: pointer;
		}
		.footer-icon:last-child {
			cursor: none;
		}
.project-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
	-webkit-transition: all linear 0.9s;
	-o-transition: all linear 0.9s;
	transition: all linear 0.9s;
}
	.project-container iframe {
		width: 100%;
		height: 100%;
	}
	.project-container-controls {
		background-color: rgb(250, 101, 102);
		box-shadow: -1px 1px 5px 1px rgb(250, 101, 102), -2px 2px 5px 1px rgb(189, 193, 201);
		position: absolute;
		top: 0;
		right: 0;
		animation-name: indicator-one;
		animation-duration: 10s;
		animation-delay: 5s;
		animation-iteration-count: infinite;
		-webkit-user-select: none; /* Chrome, Opera, Safari */
		-moz-user-select: none; /* Firefox 2+ */
		-ms-user-select: none; /* IE 10+ */
		user-select: none;
	}
		@keyframes indicator-one {
			0% {
				background-color: rgb(250, 101, 102);
				box-shadow: -1px 1px 5px 1px rgb(250, 101, 102), -2px 2px 5px 1px rgb(189, 193, 201);
			}
			5% {
				background-color: rgb(124, 51, 51);
				box-shadow: -1px 1px 5px 1px rgb(124, 51, 51), -2px 2px 5px 1px rgb(189, 193, 201);
			}
			10% {
				background-color: rgb(250, 101, 102);
				box-shadow: -1px 1px 5px 1px rgb(250, 101, 102), -2px 2px 5px 1px rgb(189, 193, 201);
			}
			100% {
				background-color: rgb(250, 101, 102);
				box-shadow: -1px 1px 5px 1px rgb(250, 101, 102), -2px 2px 5px 1px rgb(189, 193, 201);
			}
		}
		.project-container-controls div {
			margin: 5px;
			font-size: 25px;
			color: rgb(249, 249, 249);
			text-shadow: 0 0 1px rgb(249, 249, 249);
			cursor: pointer;
			animation-name: indicator-two;
			animation-duration: 10s;
			animation-delay: 5s;
			animation-iteration-count: infinite;
		}
			@keyframes indicator-two {
				0% {
					margin: 5px;
				}
				5% {
					margin: 5px 15px 5px 5px;
				}
				10% {
					margin: 5px;
				}
				100% {
					margin: 5px;
				}
			}